@page "/"

<div style="width:25%; float:left">
    <img style="width:200px;height:200px;" src="../Images/CompanyLogo.jpg" />
</div>
<div style="width:75%; float:right">

    <h1>Hello, User</h1>
    Welcome to your Think App.
</div>
